.container {
    flex: 1 1 auto; 
    min-height: 0;   
    overflow-y: auto; 

    padding-right: 8px;
    padding-top: 5px;

    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 8px;
    }
}