.info {
    height: calc(100vh - 70px);
    padding: calc(var(--space-1) * 32) 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        padding: calc(var(--space-1) * 22) 0;
        align-items: start;
    }
}

.title {
    background: var(--gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
}

.titleBlock {

    opacity: 0;
    transform: translateY(30px);

    animation: fadeUp 0.6s ease-out forwards;

    animation-delay: 0.1s;
}

.buttonsBlock {
    opacity: 0;
    transform: translateY(30px);

    animation: fadeUp 0.6s ease-out forwards;

    animation-delay: 0.5s;
}


.descriptionBlock {
    width: 65%;

    opacity: 0;
    transform: translateY(30px);

    animation: fadeUp 0.6s ease-out forwards;

    animation-delay: 0.3s;

    @media (max-width: 768px) {
        width: 95%;
    }
}


@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}