.mainLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 60px;
    width: 100%;
    background-color: var(--color-surface);
}

.content {
    flex: 1 1 auto;
}