.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 36px;
    height: 36px;
    background: var(--gradient-primary);
}

.avatar {
    min-width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-primary);
}

.menu {
    cursor: pointer;
    position: relative;
}